.about {
    width: 100%;
    height: 100vh;

    .about-content {
        width: 100%;
        height: 100%;
        position: relative;

        .about-header-content {
            .about-header {
                font-size: 50px;
                font-weight: bold;
                z-index: 9;
                text-align: center;
                padding-top: 50px;
            }

            .about-title-bg-text {
                font-size: 110px;
                letter-spacing: 10px;
                line-height: 0.7;
                position: absolute;
                top: 40px;
                left: 32%;
                text-transform: uppercase;
                font-weight: 800;
                color: rgba(255, 255, 255, 0.07);
                text-align: center;
            }
        }

        .about-body-content {
            padding-top: 30px;

            .about-personal-info {
                width: 55%;
                display: inline-block;
                vertical-align: top;

                .personal-info-header {
                    padding-top: 50px;
                    font-size: 30px;
                    padding-left: 30px;
                }

                .personal-info {
                    text-align: unset;

                    ul {
                        list-style: none;
                        padding-top: 30px;
                        padding-left: 60px;
                        border: unset;
                        padding: unset;
                    }

                    li {
                        padding-bottom: 20px;
                        font-size: 22px;

                        .answer {
                            font-weight: 600;
                        }
                    }

                    .personal-info-left {
                        display: inline-block;
                        padding-left: 30px;
                    }

                    .personal-info-right {
                        display: inline-block;
                        padding-left: 30px;

                    }
                }
            }

            .about-experience {
                width: 45%;
                display: inline-block;

                .experience-details {
                    padding-top: 60px;

                    .styled-border {
                        text-align: center;
                        width: 250px;
                        --c: gold;
                        /* the border color */
                        --b: 10px;
                        /* the border thickness*/
                        --g: 5px;
                        /* the gap on hover */
                        padding-top: 25px !important;
                        padding-bottom: 25px !important;
                        padding: calc(var(--g) + var(--b));
                        --_g: #0000 25%, var(--c) 0;
                        background:
                            conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
                            conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
                        transition: .3s, background-position .3s .3s;
                        cursor: pointer;

                        &:hover {
                            --_i: 100%;
                            transition: .3s, background-size .3s .3s;
                            transform: scale(1.2);
                        }

                        .number-text {
                            font-size: 50px;
                            font-weight: 600;
                        }

                        .exp-text {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }

                    .years-of-exp {
                        display: inline-block;
                        margin-right: 15px;
                        margin-top: 15px;
                        margin-bottom: 20px;
                    }

                    .project-completed {
                        display: inline-block;
                    }

                    .happy-customers {
                        display: inline-block;
                        margin-top: 40px;
                        margin-right: 15px;
                        margin-bottom: 20px;
                    }

                    .awards-won {
                        display: inline-block;
                    }
                }
            }
        }

    }

    .divider {
        width: 20%;
        border-bottom: 5px solid white;
        position: absolute;
        border-radius: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .my-skills {
        .my-skills-header {
            text-align: center;
            font-size: 50px;
            padding-top: 30px;
        }

        .skills-container {
            width: calc(100% - 300px);
            padding-top: 30px;
            margin: auto;

            .CircularProgressbar .CircularProgressbar-trail {
                stroke: #3e3d3d;
                stroke-linecap: round;
            }

            .CircularProgressbar .CircularProgressbar-path {
                stroke: gold;
                stroke-linecap: round;
                transition: stroke-dashoffset 0.5s ease 0s;
            }

            .CircularProgressbar .CircularProgressbar-text {
                fill: white;
                font-size: 20px;
                dominant-baseline: middle;
                text-anchor: middle;
            }

            .column-1 {
                .progress-bar {
                    width: 140px;
                    padding-left: 100px;
                    text-align: center;
                }

                .progress-bar-text {
                    text-align: center;
                    padding-left: 100px;
                    padding-top: 20px;
                    font-size: 25px;
                    font-weight: 500;
                }

                .CircularProgressbar {
                    width: 87%;
                }

                .html-percentage {
                    display: inline-block;
                }

                .javascript-percentage {
                    display: inline-block;
                }

                .css-percentage {
                    display: inline-block;
                }

                .figma-percentage {
                    display: inline-block;
                }
            }

            .column-2 {
                padding-top: 70px;
                padding-bottom: 30px;

                .progress-bar {
                    width: 140px;
                    padding-left: 100px;
                    text-align: center;
                }

                .progress-bar-text {
                    text-align: center;
                    padding-left: 100px;
                    padding-top: 20px;
                    font-size: 25px;
                }

                .CircularProgressbar {
                    width: 87%;
                }

                .adobe-percentage {
                    display: inline-block;
                }

                .react-percentage {
                    display: inline-block;
                }

                .angular-percentage {
                    display: inline-block;
                }

                .wordpress-percentage {
                    display: inline-block;
                }
            }
        }
    }

    .edu-and-experience {
        .eduexp-header {
            text-align: center;
            font-size: 50px;
            padding-top: 30px;
        }

        .eduexp-content {
            padding-top: 50px;

            .exp-details {
                width: 50%;
                height: 600px;
                display: inline-block;
                // background-color: chartreuse;
                vertical-align: top;

                .exp-detail-container {
                    width: calc(100% - 100px);
                    padding: 25px;
                    float: right;
                    border-left: 1px solid;
                    border-top: 0;
                    border-right: 0;
                    position: relative;
                    border-bottom: 0;
                    margin-bottom: 40px;
                    padding-bottom: 10px;

                    .work-logo-container {
                        width: 30px;
                        background: white;
                        padding: 7px;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        left: -22px;

                        .work-logo {
                            width: 30px;
                        }
                    }

                    .job-title {
                        font-size: 28px;
                        font-weight: 500;
                    }

                    .companyName-year {
                        .company-name {
                            font-size: 24px;
                            padding-right: 15px;
                        }

                        .year {
                            border: 1px solid gold;
                            border-radius: 30px;
                            padding: 4px;
                            background-color: gold;
                            font-weight: 600;
                            color: black;
                            width: fit-content;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .edu-details {
                width: 50%;
                height: 600px;
                display: inline-block;

                // background-color: chartreuse;
                .edu-detail-container {
                    width: calc(100% - 100px);
                    border-left: 1px solid;
                    border-top: 0;
                    border-right: 0;
                    border-bottom: 0;
                    position: relative;
                    margin-bottom: 40px;
                    padding: 25px;
                    float: right;
                    padding-bottom: 10px;

                    .edu-logo-container {
                        width: 30px;
                        background: white;
                        padding: 7px;
                        border-radius: 50%;
                        position: absolute;
                        top: -10px;
                        left: -22px;

                        .wdu-logo {
                            width: 30px;
                        }
                    }

                    .edu-title {
                        font-size: 28px;
                        font-weight: 500;
                    }

                    .eduName-year {
                        .edu-name {
                            font-size: 24px;
                            padding-right: 15px;
                        }

                        .edu-year {
                            width: fit-content;
                            border: 1px solid gold;
                            border-radius: 30px;
                            padding: 4px;
                            background-color: gold;
                            font-weight: 600;
                            color: black;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 600px) {
    .about {
        width: 100%;
        height: unset;
        padding: unset;

        .about-content {
            width: 100%;
            height: 100%;
            position: relative;

            .about-header-content {
                .about-header {
                    font-size: 34px;
                    padding-top: unset;
                }

                .about-title-bg-text {
                    top: 0px;
                    font-size: 60px;
                    text-align: center;
                    left: 26px;

                }
            }

            .about-body-content {
                padding-top: unset;

                .about-personal-info {
                    width: 100%;
                    display: block;
                    vertical-align: unset;

                    .personal-info-header {
                        padding-top: 35px;
                        font-size: 28px;
                        padding-left: unset;
                        text-align: center;
                        font-weight: bold;
                    }

                    .personal-info {
                        width: 100%;
                        justify-content: center;
                        display: grid;

                        ul {
                            border: 3px solid gold;
                            border-radius: 30px 0px 30px 0px;
                            padding: 20px;

                        }

                        li {
                            padding-bottom: 14px;
                            font-size: 15px;
                            text-align: center;

                            .answer {
                                font-weight: 600;
                            }
                        }

                        .personal-info-left {
                            display: block;
                            width: 280px;
                        }

                        .personal-info-right {
                            display: block;
                            width: 280px;
                        }
                    }
                }

                .about-experience {
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    display: grid;
                    padding-bottom: 40px;

                    .experience-details {
                        padding-top: 50px;
                        text-align: center;

                        .styled-border {
                            text-align: center;
                            width: 150px;
                            --c: gold;
                            /* the border color */
                            --b: 10px;
                            /* the border thickness*/
                            --g: 5px;
                            /* the gap on hover */
                            padding-top: 25px !important;
                            padding-bottom: 25px !important;
                            padding: calc(var(--g) + var(--b));
                            --_g: #0000 25%, var(--c) 0;
                            background:
                                conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
                                conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
                            transition: .3s, background-position .3s .3s;
                            cursor: pointer;

                            &:hover {
                                --_i: 100%;
                                transition: .3s, background-size .3s .3s;
                                transform: scale(1.2);
                            }

                            .number-text {
                                font-size: 36px;
                                font-weight: 600;
                            }

                            .exp-text {
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }

                        .years-of-exp {
                            display: block;
                            margin-right: unset;
                            margin-top: unset;
                        }

                        .project-completed {
                            display: block;
                        }

                        .happy-customers {
                            display: block;
                            margin-top: 40px;
                            margin-right: unset;
                        }

                        .awards-won {
                            display: block;
                        }
                    }
                }
            }

        }

        .divider {
            width: 20%;
            border-bottom: 5px solid white;
            position: absolute;
            border-radius: 30px;
            left: 50%;
            transform: translateX(-50%);
        }

        .my-skills {
            .my-skills-header {
                text-align: center;
                font-size: 50px;
                padding-top: 30px;
            }

            .skills-container {
                width: 100%;
                padding-top: 30px;
                margin: auto;

                .CircularProgressbar .CircularProgressbar-trail {
                    stroke: #3e3d3d;
                    stroke-linecap: round;
                }

                .CircularProgressbar .CircularProgressbar-path {
                    stroke: gold;
                    stroke-linecap: round;
                    transition: stroke-dashoffset 0.5s ease 0s;
                }

                .CircularProgressbar .CircularProgressbar-text {
                    fill: white;
                    font-size: 20px;
                    dominant-baseline: middle;
                    text-anchor: middle;
                }

                .column-1 {
                    text-align: center;

                    .progress-bar {
                        width: 140px;
                        padding-left: unset;
                        text-align: center;
                    }

                    .progress-bar-text {
                        padding-left: unset;
                        font-size: 22px;
                        font-weight: 500;
                        padding-bottom: 30px;
                    }

                    .CircularProgressbar {
                        width: 87%;
                    }

                    .html-percentage {
                        display: inline-block;
                    }

                    .javascript-percentage {
                        display: inline-block;
                    }

                    .css-percentage {
                        display: inline-block;
                    }

                    .figma-percentage {
                        display: inline-block;
                    }
                }

                .column-2 {
                    padding-top: unset;
                    padding-bottom: 30px;
                    text-align: center;

                    .progress-bar {
                        width: 140px;
                        padding-left: unset;
                        text-align: center;
                    }

                    .progress-bar-text {
                        padding-left: unset;
                        font-size: 22px;
                        font-weight: 500;
                        padding-bottom: 30px;
                    }

                    .CircularProgressbar {
                        width: 87%;
                    }

                    .adobe-percentage {
                        display: inline-block;
                    }

                    .react-percentage {
                        display: inline-block;
                    }

                    .angular-percentage {
                        display: inline-block;
                    }

                    .wordpress-percentage {
                        display: inline-block;
                    }
                }
            }
        }

        .edu-and-experience {
            .eduexp-header {
                font-size: 34px;
            }

            .eduexp-content {
                padding-top: 50px;

                .exp-details {
                    width: 100%;
                    height: 520px;
                    display: block;
                    vertical-align: unset;

                    .exp-detail-container {
                        width: 325px;
                        padding: 14px;
                        float: unset;
                        margin-left: 25px;

                        .work-logo-container {
                            width: 21px;
                            padding: 3px;
                            left: -14px;

                            .work-logo {
                                width: 17px;
                                padding-left: 2px;
                                padding-top: 2px;
                            }
                        }

                        .job-title {
                            font-size: 24px;
                        }

                        .companyName-year {
                            .company-name {
                                font-size: 18px;
                                padding-right: 15px;
                                font-weight: 500;
                            }

                            .year {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .edu-details {
                    width: 100%;
                    height: 520px;
                    display: block;

                    // background-color: chartreuse;
                    .edu-detail-container {
                        width: 325px;
                        padding: 14px;
                        float: unset;
                        margin-left: 25px;

                        .edu-logo-container {
                            width: 21px;
                            padding: 3px;
                            left: -14px;


                            .wdu-logo {
                                width: 17px;
                                padding-left: 2px;
                                padding-top: 2px;
                            }
                        }

                        .edu-title {
                            font-size: 24px;

                        }

                        .eduName-year {
                            .edu-name {
                                font-size: 18px;
                                padding-right: 15px;
                                font-weight: 500;
                            }

                            .edu-year {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

}


$black: #282828;
$point: salmon;
$point-light: lighten($point, 5%);

$ratio: 1.618;
$card_width: 250px;
$card_height: $card_width * $ratio;
$card_padding: 20px;
$card-bgcolor: white;
$card_margin: 5px;
$card_round: 10px;
$card-shadow: -20px -20px 0px 0px $point-light;

$card-padding-basis: 15px;
$card_head_padding: 0px 0px $card-padding-basis 0px;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.container {
    width: 80%;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-left: auto;
    margin-right: auto;
}

.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 309px;
    min-height: 370.5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 5px;
    box-shadow: -20px -20px 0px 0px gold;
    border-radius: 10px;
    animation-name: shadow-show;
    animation-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);

    hr {
        display: block;
        border: none;
        height: 3px;
        background-color: $point;
        margin: 0px;

        -webkit-animation-name: line-show;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.3s;
        /* Safari 4.0 - 8.0 */
        animation-name: line-show;
        animation-duration: 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
        -o-transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
        transition-timing-function: cubic-bezier(0.795, 0.000, 0.165, 1.000);
        /* custom */
    }

    p {
        margin: $card-padding-basis 0px 0px 0px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 100;
        letter-spacing: -0.25px;
        line-height: 1.25;
        font-size: 16px;
        word-break: break-all;
        word-wrap: pre-wrap;
        color: $black;

        -webkit-animation-name: p-show;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1.5s;
        /* Safari 4.0 - 8.0 */
        animation-name: p-show;
        animation-duration: 1.5s;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
    from {
        margin: 0px 100px;
    }

    to {
        margin: 0px;
    }
}

/* Standard syntax */
@keyframes line-show {
    from {
        margin: 0px 100px;
    }

    to {
        margin: 0px;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
    from {
        color: white;
    }

    to {
        color: $black;
    }
}

/* Standard syntax */
@keyframes p-show {
    from {
        color: white;
    }

    to {
        color: $black;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
    from {
        -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }

    to {
        -webkit-box-shadow: $card-shadow;
        box-shadow: $card-shadow;
    }
}

/* Standard syntax */
@keyframes shadow-show {
    from {
        -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }

    to {
        -webkit-box-shadow: $card-shadow;
        box-shadow: $card-shadow;
    }
}